.CartItem {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  box-shadow: 0 1px 2px 1px var(--clr-shadow-15);
  transition: box-shadow 100ms;
}
.CartItem:hover {
  box-shadow: 0 4px 8px 1px var(--clr-shadow-25);
}
[class^="CartItem-part_"] {
  display: flex;
  align-items: center;
  gap: 20px;
}
.CartItem-part_1 {
  flex: 1 1 auto;
}
.CartItem-part_2 {
  flex: 0 0 auto;
}
.CartItem-part_1 input {
  flex: 0 0 auto;
}
.CartItem-part_1 img {
  flex: 0 0 auto;
  width: 80px;
}
.CartItem-part_1 h3 {
  flex: 1 1 auto;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
}
.CartItem-part_1 .FavoriteToggle {
  flex: 0 0 auto;
}
.CartItem-part_2 p {
  margin: 0;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: normal;
}
.CartItem-price::after {
  content: ' р.';
}
@media only all and (max-width: 1170px) {
  .CartItem {
    flex-direction: column;
    align-items: flex-start;
  }
  [class^="CartItem-part_"] {
    flex: 0 0 auto;
    width: 100%;
  }
  .CartItem-part_2 {
    justify-content: flex-end;
  }
}
@media only all and (max-width: 480px) {
  .CartItem-part_2 {
    flex-wrap: wrap;
  }
  .CartItem-part_1 img {
    width: 60px;
  }
  .CartItem-part_2 p {
    font-size: 1rem;
  }
}