.Main {
  background-color: rgb(241, 241, 241);
}
.Header.sticky + .Main {
  margin-top: 146px;
}
.Main-container {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  background-color: rgb(253, 253, 253);
}
.Main-container p.loading {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
}