.CartButton {
  position: relative;
  color: white;
  background-color: var(--clr-main);
  box-shadow: 0 1px 1px 0 var(--clr-shadow);
}
.CartButton::before {
  content: '\f07a';
}
.CartButton-label {
  position: absolute;
  top: -8px;
  right: -12px;
  border: solid 2px white;
  border-radius: 12px;
  padding: 0 5.5px;
  font-weight: 700;
  color: white;
  background-color: var(--clr-destr);
  box-shadow: 1px 1px 1px 0 var(--clr-shadow);
}