.Header {
  background-color: var(--clr-accent);
}
.Header-container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  row-gap: 10px;
  column-gap: 80px;
}
.Header-logo {
  grid-area: 1 / 1 / 4 / 2;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header-logo img {
  height: 126px;
}
.Header-contacts {
  grid-area: 1 / 2 / 2 / 4;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  color: white;
  text-shadow: 0 1px 1px var(--clr-shadow);
  font-weight: 500;
}
.Header-call_center {
  display: flex;
  gap: 20px;
}
.Header-consumer_info {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.Header .SearchBar {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
}
.Header .NavBar {
  grid-area: 3 / 2 / 4 / 3;
}
.Header-user {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center;
  gap: 20px;
}