.Header {
  background-color: var(--clr-accent);
}
.Header .container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  row-gap: 10px;
  column-gap: 80px;
}
.Header .logo {
  grid-area: 1 / 1 / 4 / 2;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header .logo img {
  height: 128px;
}
.Header-contacts {
  grid-area: 1 / 2 / 2 / 4;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  color: white;
  text-shadow: 0 1px 1px var(--clr-shadow);
  font-weight: 500;
}
.Header-call_center {
  display: flex;
  gap: 20px;
}
.Header-consumer_info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.Header .SearchBar {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
}
.Header nav {
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
  overflow: hidden;
  color: white;
  text-shadow: 0 1px 1px var(--clr-shadow);
  font-weight: 900;
}
.Header-categories-popular {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.Header-categories-popular li {
  white-space: nowrap;
}
.Header nav > a[class^="link-"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0 10px 20px;
  background-color: var(--clr-accent);
}
.Header nav > a[class^="link-"]::before {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  padding: 0;
  content: '';
  background: linear-gradient(to right, transparent, var(--clr-accent));
}
.Header-categories-all {
  position: absolute;
  bottom: -500px;
  left: 40px;
  right: 40px;
  height: 500px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: black;
}
.Header-user {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center;
  gap: 20px;
}
.Header-user button {
  color: white;
  background-color: var(--clr-main);
  box-shadow: 0 1px 1px 0 var(--clr-shadow);
}
.Header-account::before {
  content: '\f007';
}