.Cart {
  padding: 20px;
  display: grid;
  grid-template: repeat(2, auto) / 1fr 280px;
  align-items: start;
  gap: 40px;
}
.Cart-empty {
  margin: 0 0 20px;
  text-align: center;
}
.Cart > header,
.Cart > footer {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 2px 1px var(--clr-shadow-15);
}
.Cart > header {
  grid-area: 1 / 1 / 2 / 2;
  gap: 40px;
}
.Cart > header > div {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.Cart > header > div label {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-weight: 500;
  line-height: 1.15em;
}
.Cart > header > div p {
  margin: 0;
  opacity: 65%;
  line-height: 1.15em;
}
.Cart > main {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Cart > footer {
  grid-area: 1 / 2 / 3 / 3;
  position: sticky;
  top: 100px;
  gap: 20px;
}
.Cart > footer > div,
.Cart > footer > button {
  width: 100%;
}
.Cart > footer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Cart > footer p {
  margin: 0;
  opacity: 65%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: normal;
}
.Cart > footer .Cart-total_price {
  opacity: 100%;
  font-weight: 900;
  font-size: 2rem;
}