.NavBar {
  position: relative;
  padding: 10px 0;
  display: grid;
  grid-template: auto / 1fr auto;
  column-gap: 40px;
}
.NavBar-pop_categories,
.NavBar a[class^="link-"] {
  color: white;
  text-shadow: 0 1px 1px var(--clr-shadow);
  font-weight: 900;
}
.NavBar-pop_categories {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  gap: 40px;
  list-style-type: none;
  white-space: nowrap;
}
.NavBar-pop_categories::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  content: '';
  background: linear-gradient(to right, transparent, var(--clr-accent));
}
.NavBar-all_categories {
  z-index: -1;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  box-sizing: border-box;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 1px 10px 0 var(--clr-shadow-50);
}
.NavBar-all_categories > ul > li > ul {
  display: flex;
  flex-wrap: wrap;
}
.NavBar-all_categories > ul > li > ul > li {
  flex: 0 0 50%;
}